.header {
  background-color: color(white);
  color: color(black);

  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-header;
}

.header__logo {
  height: auto;
  max-width: 150px;

  @include breakpoint(md) {
    max-width: 175px;
  }
  @include breakpoint(lg) {
    max-width: 225px;
  }
}

.mobile-navigation {
  transition: transform 400ms ease;
  transform: translateX(100%);
  z-index: $z-index-modal;

  &.open {
    transform: translateX(0);
  }
}

.header__mobile-button {
  svg {
    max-width: 24px;
  }
}
